* {
  box-sizing: border-box;
}

body, html {

}

h1, a,
p {
  margin: 0;
}

.container {
  /*background: firebrick;*/
}

.channel {
  /*background: gold;*/
  margin-bottom: 1em;
  position: relative;
}

.channelContainer {
  color: green;

}

.channelLogo {
  /*background: pink;*/
  width: 30%;
}

.channelLogo img {
  width: 100%;
  border-radius: 20%;
}

.channelDescription {
  width: 70%;
  padding: 0 1em;
  /*background: orange;*/

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

}

.channelLogo,
.channelDescription {
  float: left;
}






.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
