// Mixins
@mixin hoverTransition($seconds) {
  -webkit-transition: all $seconds;
   -moz-transition: all $seconds;
    -ms-transition: all $seconds;
     -o-transition: all $seconds;
        transition: all $seconds;
}

@mixin mediaQuery($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

@mixin clearfix {
  &:after { // clearfix
    content: "";
    display: block;
    clear: both;
  }
}


// @media screen and (min-width: 900px) {
//     section {
//       .container {
//         max-width: 900px;
//       }
//       .buttons {
//         button {
//           max-width: 225px;
//           font-size: 1.2em;
//         }
//       }
//     }
// }
