// Mixins
@mixin hoverTransition($seconds) {
  -webkit-transition: all $seconds;
   -moz-transition: all $seconds;
    -ms-transition: all $seconds;
     -o-transition: all $seconds;
        transition: all $seconds;
}

@mixin mediaQuery($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

@mixin clearfix {
  &:after { // clearfix
    content: "";
    display: block;
    clear: both;
  }
}
